asgiref
attrs
certifi
charset-normalizer
Django
djangorestframework
djangorestframework_simplejwt
drf-yasg
idna
importlib_resources
inflection
joblib
jsonschema
jsonschema-specifications
numpy
packaging
PyJWT
pytz
PyYAML
referencing
requests
rpds-py
# scikit-learn
scipy
sqlparse
swagger-spec-validator
threadpoolctl
typing_extensions
uritemplate
urllib3