body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}



/* Formulaire de création de post */
.create-post-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.create-post-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-grp {
  margin-bottom: 20px;
}

.form-grp label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-grp input,
.form-grp textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-grp textarea {
  height: 120px;
  resize: vertical;
}

.butn {
  background-color: #0072C6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.butn:hover {
  background-color: #005A9E;
}

